/classifiers/
/build_datasets/output/
/temp/
/Key Papers for the Analyssis/
*.sas7bdat
*.XPT
*.data
*.exe
*.pif
/.idea/*
*.asv
*.mdb
*.doc
*.docx
*.xls
*.png
*.html
!notebooks/data/*/*.html
*.pkl
*.zip
*.RData
*.RDataTmp
*.pyc
google_service_credentials.json
*.log
*.pickle
*.cys
/analysis/output/*
!/analysis/output/readme.txt
*.eps
analysis/.ipynb_checkpoints/*
