/classifiers/
/build_datasets/output/
/temp/
/Key Papers for the Analyssis/
*.sas7bdat
*.XPT
*.data
*.exe
*.pif
/.idea/*
*.asv
*.mdb
*.doc
*.docx
*.xlsx
*.xls
*.png
*.html
!notebooks/data/*/*.html
*.pkl
*.zip
*.RData
*.RDataTmp
*.pyc
config.json
google_service_credentials.json
*.log
*.pickle
*.cys
/notebooks/output/*
!notebooks/count_ingredients/*
notebooks/count_ingredients/.ipynb_checkpoints/*
*.eps
